[submodule "yhw-miracle"]
	path = yhw-miracle
	url = git@github.com:yhw-miracle/yhw-miracle.git
[submodule "yhw-miracle.github.io"]
	path = yhw-miracle.github.io
	url = git@github.com:yhw-miracle/yhw-miracle.github.io.git
[submodule "blog_frontend"]
	path = blog_frontend
	url = git@github.com:yhw-miracle/blog_frontend.git
[submodule "blog_admin"]
	path = blog_admin
	url = git@github.com:yhw-miracle/blog_admin.git
